.loading-screen {
    overflow: hidden;
    padding: 20px;
    text-align: center;
    position: relative;
    width: 100%;
    height: 100vh;
    z-index: 3;
    text-transform: uppercase;
    text-align: center;

    h1 {
        font-size: 8rem;
        line-height: 0.7;
        text-shadow: 0px 5px 10px rgba(0, 0, 0, 0.3);
    }

    .title {
        position: absolute;
        top: 70px;
        left: 50%;
        transform: translateX(-50%);
        animation: fade-in 3s 1s;
        animation-fill-mode: forwards;
        opacity: 0;
    }

    .banner {
        width: 300px;
        min-width: 300px;
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        animation: banner-entrance .5s ease-out 1.8s;
        animation-fill-mode: both;
    }

    h2 {
        font-size: 1.2rem;
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        font-weight: 600;
        letter-spacing: 0.3rem;
        width: 100%;
        animation: text-entrance .5s ease-out 1.8s;
        animation-fill-mode: both;
    }

    @keyframes text-entrance {
        0% {bottom: -200px};
        100% {bottom: 125px};
    }

    .head {
        top: 50%;
        width: 200px;
        transform: translateY(-50%);
        display: inline-block;
        position: absolute;
        transition: all .2s;
        cursor: pointer;
    }

    .head:hover {
        z-index: 1;
        // filter: grayscale(0%);
    }

    .head:active {
        filter: drop-shadow(0px 0px 5px red);
    }

    .hilary-head:hover {
        transform: scale(1.1) translate(35%, -50%);
    }


    .trump-head:hover {
        transform: scale(1.1) translate(-35%, -50%);
    }

    .trump-head {
        animation: trump-entrance 1s .5s ease, glow 2s 1s infinite;
        animation-fill-mode: both;
    }

    .hilary-head {
        animation: hilary-entrance 1s .5s ease, glow 2s 2s infinite;
        animation-fill-mode: both;
    }

    .name {
        font-size: 5rem;
        position: absolute;
        bottom: 30px;
        transform: translateX(-50%);
    }

    .hilary-head:hover ~ .hilary-name, .trump-head:hover ~ .trump-name {
        left: 50%;
    }

    .hilary-name {
        left: -100px;
        transition: left .5s ease;
    }

    .trump-name {
        left: 200%;
        transition: left .5s ease;
    }

    .slogan {
        position: absolute;
        top: -100%;
        font-size: 1.2rem;
        font-weight: 600;
        transform: translateX(-50%);
        left: 50%;
        width: 100%;
        transition: top .5s;
        letter-spacing: .5rem;
    }

    .trump-head:hover ~ .trump-slogan {
        top: 55px;
    }

    .hilary-head:hover ~ .hilary-slogan {
        top: 55px;
    }
    
}


@keyframes glow {
    0% {
        filter: drop-shadow(0px 0px -5px white);
    }
    50% {
        filter: drop-shadow(0px 0px 5px white);
    }
    100% {
        filter: drop-shadow(0px 0px -5px white);
    }
}

@keyframes hilary-entrance {
    0% {left: -300px}
    100% {left: 30%}
}

@keyframes trump-entrance {
    0% {right: -300px}
    100% {right: 30%}
}

@keyframes fade-in {
    0% {opacity: 0}
    100% {opacity: 1}
}

@keyframes banner-entrance {
    0% {bottom: -200px};
    100% {bottom: 100px};
}