article, aside, details, figcaption, figure, footer, header, hgroup, nav, section, summary {
  display: block; }

audio, canvas, video {
  display: inline-block; }

audio:not([controls]) {
  display: none;
  height: 0; }

[hidden] {
  display: none; }

html {
  font-family: sans-serif;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%; }

a:focus {
  outline: thin dotted; }

a:active, a:hover {
  outline: 0; }

h1 {
  font-size: 2em; }

abbr[title] {
  border-bottom: 1px dotted; }

b, strong {
  font-weight: 700; }

dfn {
  font-style: italic; }

mark {
  background: #ff0;
  color: #000; }

code, kbd, pre, samp {
  font-family: monospace, serif;
  font-size: 1em; }

pre {
  white-space: pre-wrap;
  word-wrap: break-word; }

q {
  quotes: \201C \201D \2018 \2019; }

small {
  font-size: 80%; }

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sup {
  top: -.5em; }

sub {
  bottom: -.25em; }

img {
  border: 0; }

svg:not(:root) {
  overflow: hidden; }

fieldset {
  border: 1px solid silver;
  margin: 0 2px;
  padding: .35em .625em .75em; }

button, input, select, textarea {
  font-family: inherit;
  font-size: 100%;
  margin: 0; }

button, input {
  line-height: normal; }

button, html input[type=button], input[type=reset], input[type=submit] {
  -webkit-appearance: button;
  cursor: pointer; }

button[disabled], input[disabled] {
  cursor: default; }

input[type=checkbox], input[type=radio] {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0; }

input[type=search] {
  -webkit-appearance: textfield;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box; }

input[type=search]::-webkit-search-cancel-button, input[type=search]::-webkit-search-decoration {
  -webkit-appearance: none; }

textarea {
  overflow: auto;
  vertical-align: top; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

body, figure {
  margin: 0; }

legend, button::-moz-focus-inner, input::-moz-focus-inner {
  border: 0;
  padding: 0; }

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: '';
  clear: both;
  height: 0; }

* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  padding: 0; }

img {
  max-width: 100%;
  display: block; }

html {
  font-size: 62.5%; }

body {
  font-family: "Work Sans", sans-serif;
  color: white;
  background: -webkit-radial-gradient(#2342c7, #0a153a);
  background: -o-radial-gradient(#2342c7, #0a153a);
  background: radial-gradient(#2342c7, #0a153a);
  text-transform: uppercase;
  letter-spacing: 0.3rem; }

button {
  background: darkred;
  border: none;
  border-radius: 5px;
  color: white;
  font-size: 1.2rem;
  letter-spacing: .5rem;
  padding: 10px 20px;
  margin: 20px auto;
  -webkit-transition: background-color .3s;
  -o-transition: background-color .3s;
  transition: background-color .3s; }

button:hover, button:active {
  background: red; }

.loading-screen {
  padding: 20px;
  text-align: center;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 3;
  text-transform: uppercase;
  text-align: center; }
  .loading-screen h1 {
    font-size: 8rem;
    line-height: 0.7;
    text-shadow: 0px 5px 10px rgba(0, 0, 0, 0.3); }
  .loading-screen .title {
    margin-top: 50px; }
  .loading-screen .banner {
    width: 380px;
    position: absolute;
    left: 50%;
    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    transform: translateX(-50%);
    bottom: 12%; }
  .loading-screen h2 {
    font-size: 1.2rem;
    position: absolute;
    bottom: 17%;
    left: 50%;
    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    transform: translateX(-50%);
    font-weight: 600;
    letter-spacing: 0.3rem;
    width: 100%; }
  .loading-screen .head {
    top: 50%;
    width: 200px;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    display: inline-block;
    position: absolute;
    -webkit-transition: all .2s;
    -o-transition: all .2s;
    transition: all .2s;
    cursor: pointer; }

@-webkit-keyframes glow {
  0% {
    -webkit-filter: drop-shadow(0px 0px -5px white);
    filter: drop-shadow(0px 0px -5px white); }
  50% {
    -webkit-filter: drop-shadow(0px 0px 5px white);
    filter: drop-shadow(0px 0px 5px white); }
  100% {
    -webkit-filter: drop-shadow(0px 0px -5px white);
    filter: drop-shadow(0px 0px -5px white); } }

@keyframes glow {
  0% {
    -webkit-filter: drop-shadow(0px 0px -5px white);
    filter: drop-shadow(0px 0px -5px white); }
  50% {
    -webkit-filter: drop-shadow(0px 0px 5px white);
    filter: drop-shadow(0px 0px 5px white); }
  100% {
    -webkit-filter: drop-shadow(0px 0px -5px white);
    filter: drop-shadow(0px 0px -5px white); } }
  .loading-screen .head:hover {
    z-index: 1; }
  .loading-screen .head:active {
    -webkit-filter: drop-shadow(0px 0px 5px red);
    filter: drop-shadow(0px 0px 5px red); }
  .loading-screen .hilary-head:hover {
    -webkit-transform: scale(1.1) translate(35%, -50%);
    -ms-transform: scale(1.1) translate(35%, -50%);
    transform: scale(1.1) translate(35%, -50%); }
  .loading-screen .trump-head:hover {
    -webkit-transform: scale(1.1) translate(-35%, -50%);
    -ms-transform: scale(1.1) translate(-35%, -50%);
    transform: scale(1.1) translate(-35%, -50%); }
  .loading-screen .trump-head {
    -webkit-animation: trump-entrance 1s .5s ease, glow 2s 1s infinite;
    animation: trump-entrance 1s .5s ease, glow 2s 1s infinite;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both; }
  .loading-screen .hilary-head {
    -webkit-animation: hilary-entrance 1s .5s ease, glow 2s 2s infinite;
    animation: hilary-entrance 1s .5s ease, glow 2s 2s infinite;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both; }

@-webkit-keyframes hilary-entrance {
  0% {
    left: -300px; }
  100% {
    left: 30%; } }

@keyframes hilary-entrance {
  0% {
    left: -300px; }
  100% {
    left: 30%; } }

@-webkit-keyframes trump-entrance {
  0% {
    right: -300px; }
  100% {
    right: 30%; } }

@keyframes trump-entrance {
  0% {
    right: -300px; }
  100% {
    right: 30%; } }
  .loading-screen .name {
    font-size: 5rem;
    position: absolute;
    bottom: 3%;
    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    transform: translateX(-50%); }
  .loading-screen .hilary-head:hover ~ .hilary-name, .loading-screen .trump-head:hover ~ .trump-name {
    left: 50%; }
  .loading-screen .hilary-name {
    left: -100px;
    -webkit-transition: left .5s ease;
    -o-transition: left .5s ease;
    transition: left .5s ease; }
  .loading-screen .trump-name {
    left: 200%;
    -webkit-transition: left .5s ease;
    -o-transition: left .5s ease;
    transition: left .5s ease; }
  .loading-screen .slogan {
    position: absolute;
    top: -100%;
    font-size: 1.2rem;
    font-weight: 600;
    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    transform: translateX(-50%);
    left: 50%;
    width: 100%;
    -webkit-transition: top .5s;
    -o-transition: top .5s;
    transition: top .5s;
    letter-spacing: .5rem; }
  .loading-screen .trump-head:hover ~ .trump-slogan {
    top: 50px; }
  .loading-screen .hilary-head:hover ~ .hilary-slogan {
    top: 50px; }

#instructions {
  position: absolute;
  top: 20%;
  font-size: 1.8rem;
  text-align: center;
  z-index: 10;
  padding: 0 20%; }
  #instructions .levels {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    width: 300px;
    margin: 0 auto; }
    #instructions .levels button {
      -ms-flex-preferred-size: 100%;
      flex-basis: 100%;
      width: 100%;
      margin: 10px 0px; }

#finish-screen {
  overflow: hidden; }
  #finish-screen #slide-down {
    position: relative;
    left: 50%;
    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    transform: translateX(-50%);
    -webkit-animation: slide-down .5s;
    animation: slide-down .5s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both; }
    #finish-screen #slide-down h1 {
      font-size: 5rem; }
    #finish-screen #slide-down h2 {
      font-size: 3rem; }
    #finish-screen #slide-down h3 {
      margin: 0 50px;
      font-size: 2rem; }
  #finish-screen .slide-up {
    position: relative;
    -webkit-animation: slide-up .5s;
    animation: slide-up .5s;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
    bottom: 0;
    left: 50%;
    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    transform: translateX(-50%); }

@-webkit-keyframes slide-down {
  0% {
    top: -200px; }
  100% {
    top: 0px; } }

@keyframes slide-down {
  0% {
    top: -200px; }
  100% {
    top: 0px; } }

@-webkit-keyframes slide-up {
  0% {
    bottom: -100px; }
  100% {
    bottom: -20px; } }

@keyframes slide-up {
  0% {
    bottom: -100px; }
  100% {
    bottom: -20px; } }

.stage {
  overflow: hidden;
  max-width: 600px;
  min-width: 300px;
  margin: 0 auto;
  height: 100vh;
  display: block;
  margin: 0 auto;
  position: relative; }

#left {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 50%;
  z-index: 2; }

#right {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 50%;
  right: 0;
  opacity: 0.2;
  z-index: 2; }

.ball {
  position: absolute;
  /* width: 100px; */
  /* height: 100px; */
  /* border-radius: 50%; */
  /* background: blue; */
  top: -100px; }

#score {
  position: absolute;
  right: 0;
  font-size: 30px;
  padding: 10px; }

#lives {
  position: fixed; }

#lives img {
  float: left;
  width: 40px; }

#counter {
  width: 50px;
  display: inline-block; }

.finish-screen {
  padding-top: 100px;
  text-align: center;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 4;
  color: white; }

.timer {
  opacity: .5;
  color: red;
  font-size: 50px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%); }

@media (max-width: 1000px) {
  @-webkit-keyframes hilary-entrance {
    0% {
      left: -300px; }
    100% {
      left: 25%; } }
  @keyframes hilary-entrance {
    0% {
      left: -300px; }
    100% {
      left: 25%; } }
  @-webkit-keyframes trump-entrance {
    0% {
      right: -300px; }
    100% {
      right: 25%; } }
  @keyframes trump-entrance {
    0% {
      right: -300px; }
    100% {
      right: 25%; } }
  #instructions {
    padding: 0 20%; } }

@media (max-width: 815px) {
  @-webkit-keyframes hilary-entrance {
    0% {
      left: -300px; }
    100% {
      left: 20%; } }
  @keyframes hilary-entrance {
    0% {
      left: -300px; }
    100% {
      left: 20%; } }
  @-webkit-keyframes trump-entrance {
    0% {
      right: -300px; }
    100% {
      right: 20%; } }
  @keyframes trump-entrance {
    0% {
      right: -300px; }
    100% {
      right: 20%; } } }

@media (max-width: 700px) {
  @-webkit-keyframes hilary-entrance {
    0% {
      left: -300px; }
    100% {
      left: 15%; } }
  @keyframes hilary-entrance {
    0% {
      left: -300px; }
    100% {
      left: 15%; } }
  @-webkit-keyframes trump-entrance {
    0% {
      right: -300px; }
    100% {
      right: 15%; } }
  @keyframes trump-entrance {
    0% {
      right: -300px; }
    100% {
      right: 15%; } } }

@media (max-width: 600px) {
  #instructions {
    padding: 0px 10px; }
  @-webkit-keyframes hilary-entrance {
    0% {
      left: -300px; }
    100% {
      left: 8%; } }
  @keyframes hilary-entrance {
    0% {
      left: -300px; }
    100% {
      left: 8%; } }
  @-webkit-keyframes trump-entrance {
    0% {
      right: -300px; }
    100% {
      right: 8%; } }
  @keyframes trump-entrance {
    0% {
      right: -300px; }
    100% {
      right: 8%; } } }

@media (max-width: 400px) {
  .head {
    width: 50px; }
  .loading-screen h1 {
    font-size: 7rem; }
  #finish-screen #slide-down h1 {
    font-size: 3rem; }
  @-webkit-keyframes hilary-entrance {
    0% {
      left: -300px; }
    100% {
      left: -10%; } }
  @keyframes hilary-entrance {
    0% {
      left: -300px; }
    100% {
      left: -10%; } }
  @-webkit-keyframes trump-entrance {
    0% {
      right: -300px; }
    100% {
      right: -10%; } }
  @keyframes trump-entrance {
    0% {
      right: -300px; }
    100% {
      right: -10%; } } }
